<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Height V/S Width</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <p>The height and width properties are used to set the height and width of an element.

                The height and width properties do not include padding, borders, or margins. It sets the height/width of the area inside the padding, border, and margin of the element.
                
                </p>
            
            
            
            </mat-tab>
            <mat-tab label="Output"> 
              <br>
              <br>
              <div class="hw"><p>This div element has a height of 100px and a width of 500px:</p></div>
            </mat-tab>
            <mat-tab label="Code"> 
              <br>
              <br>
              <img src="../../assets/img/hw.png">
               </mat-tab>
           
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   