<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">CSS Grid</h4>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Info">
            <br />
            <br />
            <p>
              CSS Grid Layout is the most powerful layout system available in
              CSS. It is a 2-dimensional system, meaning it can handle both
              columns and rows, unlike flexbox which is largely a 1-dimensional
              system.
            </p>
            <img src="../../assets/img/Screenshot (82).png" />
            <p>
              12 column grids is a convention and it is just that, it's not a
              standard. The reason it exists is cause 12 can be divided by 1, 2,
              3, 4, 6 and 12. So it is very flexible. There are 10 and 16 column
              grid systems as well which have their own advantages. The initial
              versions of Bootstrap used to have a 16 column grid. You can
              create your grid logic in any way you want. It all depends on what
              you're trying to achieve. But needless to say the 12 column system
              is easy to understand and works well for most layouts, and thus,
              is more popular. It only makes sense for a designer to know the
              quirks about it.
            </p>
            <img src="../../assets/img/10.png" />
            <img src="../../assets/img/16.jpg" />
            <img src="../../assets/img/factors_of_12.png" />
          </mat-tab>
          <mat-tab label="Output">
            <br />
            <br />
            <mat-tab-group>
              <mat-tab label="Basic">
                <br />
                <p>4-col-grid</p>
                <section class="grid">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                  <div class="cards">11</div>
                  <div class="cards">12</div>
                </section>
                <br />
                <p>5-col-grid</p>
                <section class="gridds">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                </section>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/gridd.png" />
              </mat-tab>
              <mat-tab label="Column Gap">
                <br />

                <img src="../../assets/img/Screenshot (105).png" />
                <br />
                <br />
                <br />
                <section class="grid-col">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                  <div class="cards">11</div>
                  <div class="cards">12</div>
                </section>
                <br /><br /><br />
                <p>Code</p>
                <img src="../../assets/img/gridc.png" />
              </mat-tab>
              <mat-tab label="Row Gap">
                <br />

                <img src="../../assets/img/Screenshot (105).png" />
                <br />
                <br />
                <br />
                <section class="grid-row">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                  <div class="cards">11</div>
                  <div class="cards">12</div>
                </section>
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/gridr.png"
              /></mat-tab>

              <mat-tab label="Column Property">
                <br />
                <img src="../../assets/img/Screenshot (103).png" />

                <br />
                <br />
                <br />
                <section class="grid">
                  <div class="cards cool">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                </section>
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/cool.png" />
              </mat-tab>
              <mat-tab label="Row Property">
                <br />

                <img src="../../assets/img/Screenshot (104).png" />

                <br />
                <br />
                <br />
                <section class="grid">
                  <div class="cards roow">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                </section>
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/roow.png"
              /></mat-tab>

              <mat-tab label="Row Length"
                ><br />
                <section class="grids">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                </section>
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/grids.png" />
              </mat-tab>
              <mat-tab label="Magzine View">
                <br />
                <div class="grid-container">
                  <div class="item1">Header</div>
                  <div class="item2">Menu</div>
                  <div class="item3">Main</div>
                  <div class="item4">Right</div>
                  <div class="item5">Footer</div>
                </div>
                <br />
                <p>Code</p>
                <img src="../../assets/img/mag.png" />
              </mat-tab>
              <mat-tab label="Dynamic Grid">
                <br />
                <section class="basic-grid">
                  <div class="cards">1</div>
                  <div class="cards">2</div>
                  <div class="cards">3</div>
                  <div class="cards">4</div>
                  <div class="cards">5</div>
                  <div class="cards">6</div>
                  <div class="cards">7</div>
                  <div class="cards">8</div>
                  <div class="cards">9</div>
                  <div class="cards">10</div>
                  <div class="cards">11</div>
                  <div class="cards">12</div>
                </section>
                <br />
                <p>Auto-Fit</p>
                <section class="basic-grid2">
                  <mat-card>Simple card 1</mat-card>
                  <mat-card>Simple card 2</mat-card>
                  <mat-card>Simple card 3</mat-card>
                  <mat-card>Simple card 4</mat-card>
                </section>
                <br />
                <p>Auto-Fill</p>
                <section class="basic-grid3">
                  <mat-card>Simple card 1</mat-card>
                  <mat-card>Simple card 2</mat-card>
                  <mat-card>Simple card 3</mat-card>
                  <mat-card>Simple card 4</mat-card>
                </section>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/basic.png" />
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/basic2.png" />
                <br /><br />
                <p>Code</p>
                <img src="../../assets/img/basic3.png" />
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
