<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">CSS Flex</h4>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Info">
            <br />
            <br />
            <p>
              The Flexbox (Flexible Box) Layout model emphasize at presenting a
              more methodological way to lay out, align and allocate space among
              items in a container, even when their size is unknown and/or
              dynamic (thus the word “flex”).
            </p>
          </mat-tab>
          <mat-tab label="Output">
            <br />
            <br />
            <mat-tab-group>
              <mat-tab label="Basic">
                <br />
                <br />
                <div class="flex-containerbasic">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/Screenshot (244).png" />
              </mat-tab>
              <mat-tab label="Flex Direction">
                <br />
                <br />
                <p>
                  The flex-direction property defines in which direction the
                  container wants to stack the flex items.
                </p>

                <section class="grid">
                  <div>
                    <p>Column</p>
                    <div class="flex-container2">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                    </div>
                  </div>
                  <div>
                    <p>Reverse-Column</p>
                    <div class="flex-container3">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                    </div>
                  </div>
                  <div>
                    <p>Row</p>
                    <div class="flex-containerbasic">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                    </div>
                  </div>
                  <div>
                    <p>Row Reverse</p>
                    <div class="flex-containerrr">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                    </div>
                  </div>
                </section>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/Screenshot (240).png" />
              </mat-tab>
              <mat-tab label="Flex Wrap">
                <br />
                <br />
                <p>
                  The flex-wrap property specifies whether the flex items should
                  wrap or not.
                </p>
                <br />
                <p>Wrap</p>
                <div class="flex-containerw">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                  <div>4</div>
                  <div>5</div>
                  <div>6</div>
                  <div>7</div>
                  <div>8</div>
                  <div>9</div>
                  <div>10</div>
                  <div>11</div>
                  <div>12</div>
                </div>
                <br />
                <p>No Wrap</p>
                <div class="flex-containernw">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                  <div>4</div>
                  <div>5</div>
                  <div>6</div>
                  <div>7</div>
                  <div>8</div>
                  <div>9</div>
                  <div>10</div>
                  <div>11</div>
                  <div>12</div>
                </div>
                <br />
                <p>Wrap Reverse</p>
                <div class="flex-containerwr">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                  <div>4</div>
                  <div>5</div>
                  <div>6</div>
                  <div>7</div>
                  <div>8</div>
                  <div>9</div>
                  <div>10</div>
                  <div>11</div>
                  <div>12</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/Screenshot (241).png" />
              </mat-tab>
              <mat-tab label="Flex Flow">
                <br />
                <br />
                <p>
                  The flex-flow property is a shorthand property for setting
                  both the flex-direction and flex-wrap properties.
                </p>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/Screenshot (240).png" /><span>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+ &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;
                </span>
                <img src="../../assets/img/Screenshot (241).png" /><span>
                  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;= &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp;
                </span>
                <img src="../../assets/img/Screenshot (242).png" />
              </mat-tab>
              <mat-tab label="Justify Content">
                <br />
                <br />
                <p>
                  The justify-content property is used to align the flex items
                </p>
                <br />
                <p>Center</p>
                <div class="flex-containerc">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <p>Flex-Start</p>
                <div class="flex-containerfs">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <p>Flex-End</p>
                <div class="flex-containeree">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <p>Space Around</p>
                <div class="flex-containersa">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <p>Space Between</p>
                <div class="flex-containersb">
                  <div>1</div>
                  <div>2</div>
                  <div>3</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/Screenshot (243).png" />
              </mat-tab>
              <mat-tab label="Flex Grow">
                <br />
                <br />
                <p>
                  The flex-grow property specifies how much a flex item will
                  grow relative to the rest of the flex items.
                </p>
                <div class="flex-containerfg">
                  <div style="flex-grow: 1;">1</div>
                  <div style="flex-grow: 1;">2</div>
                  <div style="flex-grow: 8;">3</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/flex grow.png" />
              </mat-tab>
              <mat-tab label="Flex Shrink">
                <br />
                <br />
                <p>
                  The flex-shrink property specifies how much a flex item will
                  shrink relative to the rest of the flex items.
                </p>
                <div class="flex-containerfss">
                  <div>1</div>
                  <div>2</div>
                  <div style="flex-shrink: 0;">3</div>
                  <div>4</div>
                  <div>5</div>
                  <div>6</div>
                  <div>7</div>
                  <div>8</div>
                  <div>9</div>
                  <div>10</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/flex shrink.png" />
              </mat-tab>
              <mat-tab label="Flex Basis">
                <br />
                <br />
                <p>
                  The flex-basis property specifies the initial length of a flex
                  item.
                </p>
                <div class="flex-containerfb">
                  <div>1</div>
                  <div>2</div>
                  <div style="flex-basis: 200px;">3</div>
                  <div>4</div>
                </div>
                <br />
                <br />
                <p>Code</p>
                <img src="../../assets/img/flex basis.png" />
              </mat-tab>
            </mat-tab-group>
            <br />
            <br />
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
