p{
    font-size: 16px;
    color: black;
    font-weight: 500;
}li{
    
    font-size: 18px;
    color: red;
}
button{
    border: 2px solid #1e35cd;
    color: #1e35cd;
}
.not{
    width: 100px;
    height: 100px;
    background: red;
    
}
.not:hover{
    width: 300px;
}
.yes{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
 .yes:hover{
    width: 300px;
 }
 h3{
    font-weight: bold;
    color: #1ecbcd;
}
.animate{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    10%  {background-color:yellow; left:200px; top:0px;}
    20%  {background-color:blue; left:0px; top:0px;}
    30%  {background-color:green; left:400px; top:0px;}
    40%  {background-color:cyan; left:0px; top:0px;}
    50%  {background-color:wheat; left:600px; top:0px;}
    60%  {background-color:black; left:0px; top:0px;}
    70%  {background-color:#eee; left:800px; top:0px;}
    80% {background-color:pink; left:0px; top:0px;}
    90% {background-color:royalblue; left:900px; top:0px;}
    100% {background-color:silver; left:0px; top:0px;}
  }