<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Transitions V/S Animations</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <mat-grid-list cols="2" rowHeight="200px">
                <mat-grid-tile>
                 <h3> CSS Transitions</h3>
                 <p>
                  CSS transitions allows you to change property values smoothly, over a given duration.</p>
                </mat-grid-tile>
                <mat-grid-tile>
                  <h3>CSS Animations</h3>
                 <p> CSS allows animation of HTML elements without using JavaScript or Flash!</p>
                </mat-grid-tile>
               
              </mat-grid-list>

            
            </mat-tab>
            <mat-tab label="Output"> 
         
              <mat-grid-list cols="2" rowHeight=2:1>
                <mat-grid-tile>
              
               <div class="not"> <p>Div without Transitions</p></div>
                </mat-grid-tile>
                <mat-grid-tile>
                
                 <div class="yes"> <p>Div with Transitions</p></div>
                </mat-grid-tile>
               
              </mat-grid-list>
              <div class="animate"></div>
            </mat-tab>
            <mat-tab label="Code"> 
              <br>
              <br>
              <h3>Transition</h3>
              <img src="../../assets/img/transition.png">
              <h3>Animation</h3>
              <img src="../../assets/img/animate2.png">
              <img src="../../assets/img/animation.png">
               </mat-tab>
           
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   