div.fourth {
    background-color: #800000;
    padding: 10px;
    font-weight: bold;
  }
  
  div.first {
    opacity: 0.1;
    color: black;
    font-weight: bold;
  }
  
  div.second {
    opacity: 0.3;
    color: black;
    font-weight: bold;
  }
  
  div.third {
    opacity: 0.6;
    color: black;
    font-weight: bold;
  }
  p{
    font-size: 16px;
    color: black;
    font-weight: 500;
}li{
    
    font-size: 18px;
    color: red;
}
button{
    border: 2px solid #1e35cd;
    color: #1e35cd;
}

 