<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Opacity</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <p>The opacity property specifies the opacity/transparency of an element.</p>

            
            </mat-tab>
            <mat-tab label="Output"> 
         <br>
         <div class=" fourth first"><p>opacity 0.1</p></div>
<div class=" fourth second"><p>opacity 0.3</p></div>
<div class="fourth third"><p>opacity 0.6</p></div>
<div class="fourth"><p>opacity 1 (default)</p></div>

         
             
       
            </mat-tab>
            <mat-tab label="Code"> 
              <br>
              <br>
              <img src="../../assets/img/opacity.png">
               </mat-tab>
           
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   
