<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Div V/S Span</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <p>Div and Span tags are both used as content Wrappers.</p>
             <p>The difference between the two is DIV is Block Eement and SPAN is In-line Element.
            </p><p>                What that means is the DIV tag takes up the entire width of the screen whereas SPAN conforms to the width of whatever element it contains.
                
                </p>
           
            </mat-tab>
            <mat-tab label="Output">  
              <br>
              <br>
             <p>Hii My Name is Ishaan Deep Singh <span>I am a span in p tag</span>. I am from Chandigarh <div class="div">I am a div in p tag</div>.I am fond of Cars and Video Games.
             <br>
             <br>
             <ul>
               <li>Grand theft Auto 5</li>
               <li>Call Of Duty:Black Ops 4</li>
               <li>Fifa 20 <span>I am a span in li</span></li>
               <li>Rush 2049</li>
               <li>Black <div class="div">I am a div in li</div></li>
               <li>Need For Speed</li>

             </ul>
     </mat-tab>
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   