p{
    font-size: 16px;
    color: black;
    font-weight: 500;
}li{
    
    font-size: 18px;
    color: red;
}
button{
    border: 2px solid #1e35cd;
    color: #1e35cd;
}
mat-form-field{
    width: 100%;
}
.text{
    text-align: center;
    color: blue;
    text-shadow: 5px 5px red;
    text-decoration: underline;
    text-transform: capitalize;
}
.font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
 