<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Conclusion (Flex v/s Grid)</h4>
      </div>
      <div class="card-body">
        <br />
        <img src="../../assets/img/Screenshot (238).png" />
        <br />
        <br />
        <br />

        <img src="../../assets/img/flex.png" />
        <img src="../../assets/img/Screenshot (235).png" />
        <br />
        <br />
        <br />
        <br />
        <p>Combine</p>
        <img src="../../assets/img/Screenshot (236).png" class="pic" />
      </div>
    </div>
  </div>
</div>
