<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Border Radius</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <p>The border-radius property is used to add rounded borders to an element.

                
                </p>
            
            
            
            </mat-tab>
            <mat-tab label="Output"> 
              <br>
              <br>
              <p class="normal">Normal border</p>
              <p class="round1">Round border</p>
              <p class="round2">Rounder border</p>
              <p class="round3">Roundest border</p>
            </mat-tab>
            <mat-tab label="Code"> 
              <br>
              <br>
              <img src="../../assets/img/radius.png">
               </mat-tab>
           
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   