.image img {
    width: 33%;
    height: auto;
    float: left; 
    max-width: 200px;
  }
  
  .blur {filter: blur(4px);}
  .brightness {filter: brightness(250%);}
  .contrast {filter: contrast(180%);}
  .grayscale {filter: grayscale(100%);}
  .huerotate {filter: hue-rotate(180deg);}
  .invert {filter: invert(100%);}
  .opacity {filter: opacity(50%);}
  .saturate {filter: saturate(7);}
  .sepia {filter: sepia(100%);}
  .shadow {filter: drop-shadow(8px 8px 10px #1e35cd);
}
  p{
    font-size: 16px;
    color: black;
    font-weight: 500;
}li{
    
    font-size: 18px;
    color: red;
}
button{
    border: 2px solid #1e35cd;
    color: #1e35cd;
}
span{
    font-size: 16px;
    color: black;
    font-weight: 500;
}
 