<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">CSS Images</h4>
            
        </div>
        <div class="card-body">
          
          <mat-tab-group>
            <mat-tab label="Info"> 
              <br>
              <br>
              <p>The CSS filter property adds visual effects (like blur and saturation) to an element.
                </p>
            
            
            
            </mat-tab>
            <mat-tab label="Output" class="image"> 
              <br>
              <br>
              <span>Normal</span>
              <img src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <span> Blur</span>
              <img class="blur" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              
              <br><span> Brightness</span>

              <img class="brightness" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <span>Contrast</span>
              <img class="contrast" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <br><span>Grayscale</span>
              <img class="grayscale" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <span>Hue rotate</span>
              <img class="huerotate" src="../../assets/img/tim_80x80.png"  alt="Pineapple" width="300" height="300">
              <br><span>Invert</span>
              <img class="invert" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <span>Opacity</span>
              
              <img class="opacity" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <br><span>Saturate</span>
              <img class="saturate" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <span>Sepia</span>
              <img class="sepia" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
              <br><span>Shadow</span>
              <img class="shadow" src="../../assets/img/tim_80x80.png" alt="Pineapple" width="300" height="300">
            </mat-tab>
            <mat-tab label="Code"> 
              <br>
              <br>
              <img src="../../assets/img/image.png">
               </mat-tab>
           
          </mat-tab-group>     
         
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   